<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="hyva_react_checkout_config">
        <observer name="utility_react_checkout" instance="Utility\ReactCheckout\Observer\RegisterModuleForHyvaConfig"/>
    </event>
</config>