<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworx_apo>
            <optionvisibility>
                <use_is_disabled>1</use_is_disabled>
                <enable_visibility_customer_group>1</enable_visibility_customer_group>
                <enable_visibility_store_view>1</enable_visibility_store_view>
            </optionvisibility>
        </mageworx_apo>
    </default>
</config>