<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="dynamic_options" xsi:type="array">
                    <item name="class" xsi:type="string">MageWorx\DynamicOptionsBase\Ui\DataProvider\Product\Form\Modifier\DynamicOptions</item>
                    <item name="sortOrder" xsi:type="number">72</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogStaging\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="dynamic_options" xsi:type="array">
                    <item name="class" xsi:type="string">MageWorx\DynamicOptionsBase\Ui\DataProvider\Product\Form\Modifier\DynamicOptions</item>
                    <item name="sortOrder" xsi:type="number">72</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="mageworx_dynamic_options_duplicate_plugin" type="MageWorx\DynamicOptionsBase\Plugin\Catalog\Product\DuplicatePlugin"/>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="mageworx_dynamic_options_save_price_scope_plugin" type="MageWorx\DynamicOptionsBase\Plugin\UpdatePriceScopeOnConfigSavingPlugin"/>
    </type>
</config>
