<?xml version="1.0"?>
<!--
/**
 * Copyright © Ops. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <measuringguide>
            <general>
                <enable_all_measuring_guide>1</enable_all_measuring_guide>
            </general>
        </measuringguide>
    </default>
</config>



