<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageworx_calculate_dependency_state">
        <observer name="mageworx-optiondependency-calculate-dependency-state"
                  instance="MageWorx\OptionDependency\Observer\CalculateDependencyState"
        />
    </event>
</config>
