<?xml version="1.0"?>
<!--
/**
 * Copyright © Ops. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ops" translate="label" sortOrder="200">
            <label>Ops</label>
        </tab>
        <section id="categoryfaq" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Category FAQ Settings</label>
            <tab>ops</tab>
            <resource>Ops_CategoryFaq::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable_all_faq" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable All FAQs</label>
                    <comment>If disabled, FAQs will be hidden from all categories.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>



