<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageWorx_OptionInventory::optioninventory_report" title="Option Inventory Report" module="MageWorx_OptionInventory" sortOrder="100" parent="Magento_Backend::other_settings" action="mageworx_optioninventory/report" resource="MageWorx_OptionInventory::report"/>
    </menu>
</config>
