.admin__page-nav._collapsed.hyva-theme-config-tab .title,
.admin__page-nav._collapsed._show.hyva-theme-config-tab .title {
    background-image: url('@{baseDir}Hyva_Theme/images/hyva-theme-logo.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding-left: 5.2rem;
}
