<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="react_checkout" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>React Checkout</label>
            <tab>general</tab>
            <resource>Magento_Config::config</resource>
            <group id="layout" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Layout</label>
                <field id="variant" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Column Layout</label>
                    <source_model>Utility\ReactCheckout\Model\Config\Source\LayoutVariant</source_model>
                </field>
            </group>
        </section>
    </system>
</config>