<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="tjv_category_shipping_products_default_method"
                type="TJV\CategoryShippingProducts\Plugin\Quote\Address\DefaultShippingMethod"/>
    </type>
</config>
